*triangleMeshFilename
fruit.obj

*forceMaterialName
#CLFEM
#LFEM
MS

*solverName
implicitBackwardEuler
#implicitNewmark

*materialDensity
1.0

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*massSpringStiffness
5.0

*deformableObjectCompliance
0.00005

*timeStep
0.05

*addGravity
1

*g
1.0

*forceNeighborhoodSize
2

*substepsPerTimeStep
10

*fixedVerticesFilename
fruit.bou

*windowWidth
1600

*windowHeight
900

*backgroundColor
1.0 1.0 1.0

*focusPositionX
1.5

*focusPositionY
2.0

*cameraScale
0.5
