*triangleMeshFilename
stickman.obj

*forceMaterialName
#CLFEM
#LFEM
MS

*solverName
implicitBackwardEuler
#implicitNewmark

*materialDensity
1.0

*dampingMassCoef
0.0

*dampingStiffnessCoef
0.01

*massSpringStiffness
5.0

*deformableObjectCompliance
0.001

*timeStep
0.05

*addGravity
0

*g
1.0

*forceNeighborhoodSize
2

*substepsPerTimeStep
10

*fixedVerticesFilename
stickman.bou

*windowWidth
1600

*windowHeight
900

*backgroundColor
1.0 1.0 1.0

*focusPositionX
20.0

*focusPositionY
0.0

*cameraScale
0.04
